<%= form_for :player do |f| %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </p>
 
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: 'form-control'  %>
  </p>
 
  <p>
    <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
  </p>
 
<% end %>