


    <!--<% if @player.errors.any? %>-->
    <!--    <div id="error_explanation">-->
    <!--      <% flash.now[:danger] = "Please fix the following errors" %>-->
    <!--      <ul>-->
    <!--        <% @player.errors.full_messages.each do |msg| %>-->
    <!--          <li><%= msg %></li>-->
    <!--        <% end %>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--  <% end %>-->

<div class = "row"> 
  <div class = "col-md-6 col-md-offset-3">
    <%= render 'header' %>  
    <%= render 'form' %>
    <h2><%= @player_count%> players have signed up so far!</h2>
    <%= link_to "Schedule", "schedule" %><br/>
    
  </div>
</div>
    
    
 


