<div class = "row">
  <div class="col-md-6 col-md-offset-3">

    <h1>PLO Schedule</h1>
    <table class = "table-bordered">
      <tr>
        <th>Start Times</th>
        <th>Online Sign Up Availability</th>
      </tr>
      <tr>
        <td>Wednesday 4pm</td>
        <td>4pm Tues - 10am Wed</td>
      </tr>
        <td>Friday 4pm</td>
        <td>4pm Thurs - 10am Fri</td>
      <tr>
        <td>Saturday 5pm</td>
        <td>4pm Fri - 10am Sat</td>
      </tr>
    </table>
    
   </br>
    <h4>Advanced Call Ahead Sign Up is Still Available after 10am</h4>
    <%= link_to "Home", "/" %>

 </div>
</div>