<div class = "row">
  <div class = "col-md-6 col-md-offset-3">

    <h1>List of Players Signed Up</h1>
    
    
    <ol >
      <% @player.each do |player|%>
        <li><%= player.name %></li>
      <% end %>
    </ol>
    
    <%= link_to "Home", "/" %>
  </div>
</div>