<div class="row"> 
  <div class = "col-md-6 col-md-offset-3">
   <h1>super admin</h1>
   
   <%= link_to 'Reset Database', 'delete_all',
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
 </div> 
</div> 
    